body {
    font-family: "䡡湄楮札䍓 潮瑳", san, serif;
    background-image:url(http://p2.qhimg.com/bdr/__85/t01240ec15e1804c443.jpg);
}
.day {
    margin:5%;
    padding:30px;
}
.header {
    background-color:#333333;
    font-size:30px;
    color:#ffffff;
    text-align:center;
    padding:5px;
}
.catalogue {
    position:absolute;
    text-align:left;
    background-color:#eeeeee;
    float:left;
    width:180px;
    padding:10px;
}
.contents {
    background-image:url(https://tse2-mm.cn.bing.net/th/id/OIP.aIzDx-EMAJDhDTOZW63u6AHaHa?w=204&h=196&c=7&o=5&pid=1.7);
    margin-left:200px;
    padding:5%;
}
.article.h2 {
    text-align:center;
}