#Apr18th {
    background-color:black;
    color:white;
    margin:15px;
    text-align:left;
}
#Apr28th {
    background-color:red;
    color:yellow;
    margin:20px;
    text-align:right;
}
#codeMix4 {
    background-color:black;
    color:white;
    text-align:left;
    margin: 20% 15%;
}